Xft.dpi: 192

! These might also be useful depending on your monitor and personal preference:
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! urxvt configuration
URxvt*background: [90]#1E1E1E
URxvt*depth: 32
URxvt*scrollBar:: false
URxvt*foreground: #E6D4A3
URxvt.cursorColor: #EE0000

URxvt*font: xft:MesloLGM Nerd Font Mono:pixelsize=24:antialias=true

URxvt.color0: 	#1E1E1E
URxvt.color1: 	#CC0000
URxvt.color2: 	#828415
URxvt.color3: 	#CC881A
URxvt.color4: 	#387376
URxvt.color5: 	#A04B73
URxvt.color6: 	#578F57
URxvt.color7: 	#988871
URxvt.color8: 	#807061
URxvt.color9: 	#F73028
URxvt.color10:  #AAB01E
URxvt.color11:  #F7B125
URxvt.color12:  #719586
URxvt.color13:  #C77089
URxvt.color14:  #7DB669
URxvt.color15:  #E6D4A3

URxvt*perl-ext-common:       default,keyboard-select,clipboard,url-select,matcher,resize-font
URxvt.url-select.launcher:   /usr/bin/firefox
URxvt*matcher.button:        1
URxvt*keysym.M-Escape:       perl:keyboard-select:activate
URxvt*keysym.M-s:            perl:keyboard-select:search
URxvt*keysym.M-u:            perl:url-select:select_next
URxvt*keysym.M-v:            perl:clipboard:paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard 
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
!URxvt.keysym.S-C-C:          eval:copy_clipboard
!URxvt.keysym.S-C-V:          eval:paste_clipboard
URxvt*clipboard.autocopy:    true
URxvt.resize-font.smaller:   C-Down
URxvt.resize-font.bigger:    C-Up
URxvt.resize-font.reset:     C-equal
URxvt.resize-font.show:      C-question

URxvt.iso14755: false
URxvt.iso14755_52: false


