xterm*utf8: 1

XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+

XTerm*VT100*selectToClipboard:  true
XTerm*visualbell: true
XTerm*bellIsUrgent: true

xterm*VT100.Translations: #override \
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d) \n\
    Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
    Shift <Btn1Up>: exec-formatted("firefox '%t'", PRIMARY)


xterm*geometry: 160x36+200+300

!xterm*font: -*-terminus-medium-*-*-*-18-*-*-*-*-*-iso10646-1
xterm*faceName: "Monospace" 
xterm*renderFont: true

xterm*faceSize: 12

xterm*faceSize1: 8
xterm*faceSize2: 10
xterm*faceSize3: 12
xterm*faceSize4: 16
xterm*faceSize5: 22

#define _color0 	#1E1E1E
#define _color1 	#CC0000
#define _color2 	#828415
#define _color3 	#CC881A
#define _color4 	#387376
#define _color5 	#A04B73
#define _color6 	#578F57
#define _color7 	#988871
#define _color8 	#807061
#define _color9 	#F73028
#define _color10	#AAB01E
#define _color11	#F7B125
#define _color12	#719586
#define _color13	#C77089
#define _color14	#7DB669
#define _color15	#E6D4A3

xterm*foreground: #E6D4A3
xterm*background: #1E1E1E

xterm*color0:	_color0
xterm*color1:	_color1
xterm*color2:	_color2
xterm*color3:	_color3
xterm*color4:	_color4
xterm*color5:	_color5
xterm*color6:	_color6
xterm*color7:	_color7
xterm*color8:	_color8
xterm*color9:	_color9
xterm*color10:	_color10
xterm*color11:	_color11
xterm*color12:	_color12
xterm*color13:	_color13
xterm*color14:	_color14
xterm*color15:	_color15

xterm*ScrollBar: on
xterm*scrollBar: true
xterm*rightScrollBar: true
